
.projectBodyHeader {
  display:flex;
  align-items: center;
}
.projectBodyHeader span{
  margin-left: auto;
}

.projectBody .ulTech{
  margin-top: 14px;
  margin-bottom : 14px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  word-wrap: break-word;
  grid-gap: 24px;
  
  
}



@media (max-width: 1100px) {                  
  .projectBody .ulMidia{
    grid-template-columns: 1fr 1fr 1fr;
}
.projectBody .ulTech li p{
  width: 150px;

}

}

@media (max-width: 895px) {                  
  .projectBody .ulMidia{
    grid-template-columns: 1fr 1fr;
}
.projectBody .ulTech li p{
  width: 100px;

}
}

@media (max-width: 600px) {                  
  .projectBody .ulMidia{
    grid-template-columns: 1fr;
} 
  .projectBodyHeader h2{
    margin-top: 5px;
    font-size: 22px;
  }
  .projectBodyHeader .spanButton{
    height: 20px;
    width: 20px;
  }
  .projectBody .ulTech li p{
    width: 50px;
  
  }
  .projectBody{
    width: 100%;
  }
}